---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
	<a href="/" target="_blank" title="/">首页</a>
	<h1 style="text-align: center;">关于我</h1>	
	<p style="text-align:center">网页二</p>
	<p>这是我第一个astro网页,也是我为数不多,想要认真对待的前端学习之旅。</p>
	<p>这将继续拓展我的爱好,并加深对计算机的理解,以此来消解迷茫,为现在找寻目标。</p>
	<Welcome />
</Layout>
