---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const pageTitle ="测试"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<title>{pageTitle}</title>
<Layout>
	<a href="/" target="_blank" title="/" class="nav-link">首页</a>
    <a href="/about" target="_self" title="/about" class="nav-link">关于</a>
    <a href="/blog" target="_self" title="/blog" class="nav-link">博客</a>
    <a href="/test" target="_self" title="/test" class="nav-link">测试</a>
	<h1 style="text-align:center">这是测试页面</h1>
	<p style="text-align: center">这里是测试页面</p>
	<!-- <p>这是我第一个astro网页也是我为数不多想要认真学习的j</p>这个长度是极限再长就会乱码，当和<a></a>组合的时候，并且注释也会导致网页乱码,这个长度之后任何语句添加都会导致乱码 -->
	<Welcome />
</Layout>
