---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
	<a href="/" target="_blank" title="/">首页</a>
	<h1 style="text-align:center">这是测试页面</h1>
	<a href="/about" target="_blank" title="/about">关于我</a>
	<p style="text-align: center">这里是网页三</p>
	<p>这是我第一个astro网页也是我为数不多想要认真学习的j</p>这个长度是极限再长就会乱码，当和<a></a>组合的时候，并且注释也会导致网页乱码,这个长度之后任何语句添加都会导致乱码
	<Welcome />
</Layout>
