---
const platform = "github";
const username = "derjunHH";
const porject = "AstroPractice";
---

<footer>
  <p>在 <a href={`https://www.${platform}.com/${username}/${porject}`} target="_blank" title="MyProject" >{platform}</a> 上，了解有关我的项目的更多信息！</p>
</footer>