---
import Navigation from "./Navigation.astro";
---
<style>
  header {  
    display: flex;
    gap: 0rem;
    margin-top: 0rem;
  }
</style>
<header>
    <nav>
        <Navigation path="/" target="_self" title="/" name="首页" />
        <Navigation path="/about" target="_self" title="/about" name="关于" />
        <Navigation path="/blog" target="_self" title="/blog" name="博客" />
        <Navigation path="/test" target="_self" title="/test" name="测试" />
    </nav>
</header>